{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ferramas</title>
    {% include 'bootstrap.html' %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
    {% comment %} JQuery para carrito {% endcomment %}
    <script
      src="https://code.jquery.com/jquery-3.7.1.min.js"
      integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    {% include 'navbar.html' %}
    <div class="container">
      <div style="float: right">
        <p style="color: black"></p>
      </div>
    </div>
    <div class="container">
      <h2>Nuestros Productos</h2>
      <div class="product-grid">
        {% for item in datos_herramientas %}
        <div class="product-card">
          <img
            src="{{ item.IMAGEN }}"
            alt="{{ item.NOMBRE }}"
            class="img-fluid mx-auto d-block"
            style="width: 250px; height: auto"
          />
          <div class="product-details">
            <h3 class="product-title">{{ item.NOMBRE }}</h3>
            <p class="product-description">{{ item.CATEGORIA }}</p>
            <p class="product-price">Precio CLP ${{ item.VALOR }}</p>
            <p class="product-price">Precio USD ${{ item.VALOR_EN_DOLAR }}</p>
            <button
              type="button"
              value="{{ item.ID_HERRAMIENTA }}"
              class="product-button btn btn-secondary añadir-al-carrito"
            >
              Añadir a Carrito
            </button>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </body>
  <script>
    $(document).ready(function () {
      $(".añadir-al-carrito").click(function (e) {
        e.preventDefault();
        var producto_id = $(this).val();

        $.ajax({
          type: "POST",
          url: "{% url 'carrito:agregar_al_carrito' 0 %}".replace(
            "0",
            producto_id
          ),
          data: {
            csrfmiddlewaretoken: "{{ csrf_token }}",
          },
          success: function (json) {
            console.log(json);
            alert("Producto añadido al carrito");
          },
          error: function (xhr, errmsg, err) {
            console.error(xhr.status + ": " + xhr.responseText);
            alert("Error al añadir el producto al carrito");
          },
        });
      });
    });
  </script>
</html>
