<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ferramas</title>
    {% include 'bootstrap.html' %}
    <link rel="stylesheet" href="../static/css/styles.css" />
  </head>
  <body>
    {% include 'navbar.html' %}
    <div class="container">
      <div style="float: right">
        <p style="color: black"></p>
        {% include "carrito/widget.html" %}
      </div>
      <div class="row">
        {% for item in data %}
        <li>{{ item }}</li>
        {% endfor %}
      </div>
    </div>
  </body>
</html>
