<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ferramas</title>
    {% include 'navbar.html' %} 
    {% include 'bootstrap.html' %} 
</head>
<body class="bg-secondary">
    <div class="d-flex justify-content-center align-items-center vh-100">
        <div class="bg-white dark:bg-dark p-4 rounded-lg shadow-lg max-w-md">
          <h2 class="h4 font-weight-bold mb-3">Login</h2>
          <form action="/validacion_login" method="POST">
            <div class="mb-3">
              <label for="email" class="form-label font-weight-medium">Correo electronico</label>
              <input 
                id="email" 
                placeholder="Ingrese su correo" 
                class="form-control" 
                type="email"
              />
            </div>
            <div class="mb-3">
              <label for="password" class="form-label font-weight-medium">Contraseña</label>
              <input 
                id="password" 
                placeholder="Ingrese su contraseña" 
                class="form-control" 
                type="password"
              />
            </div>
            <button
              type="submit"
              class="btn btn-dark w-100">
              Login
            </button>
            <a href="/registro">Crear Cuenta</a>
          </form>
        </div>
      </div>
      
</body>
</html>