<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% include 'navbar.html' %}
    {% include 'bootstrap.html' %}
</head>
<body class="bg-secondary">
    <div class="d-flex justify-content-center align-items-center vh-100">
        <div class="bg-white dark:bg-dark p-4 rounded-lg shadow-lg max-w-md">
          <h2 class="h4 font-weight-bold mb-3">Registro</h2>
          <form action="/registrar-usuario" method="post">
            {% csrf_token %}
            <div class="mb-3">
              <label for="email" class="form-label font-weight-medium">Correo electronico</label>
              <input 
                id="email"
                name="registro_email"
                placeholder="Ingrese Correo electronico" 
                class="form-control" 
                type="email"
              />
            </div>
            <div class="mb-3">
              <label for="password" class="form-label font-weight-medium">Contraseña</label>
              <input 
                id="password" 
                placeholder="Ingrese Contraseña" 
                class="form-control" 
                type="password"
                name="registro_pass1"
              />
            </div>
            <div class="mb-3">
              <label for="password" class="form-label font-weight-medium">Confirmar contraseña</label>
              <input
                name="registro_pass2"
                id="password" 
                placeholder="Confirmar Contraseña" 
                class="form-control" 
                type="password"
              />
            </div>
            <button
              type="submit"
              class="btn btn-dark w-100"
            >
              Registrarse
            </button>
  
          </form>
        </div>
      </div>
      
</body>
</html>