<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Registro</title>
    {% include 'navbar.html' %} {% include 'bootstrap.html' %}
    {% load static %}
    <script
      src="https://code.jquery.com/jquery-3.7.1.min.js"
      integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <br/><br/>
       <div class="d-flex justify-content-center align-items-center vh-100">
      <div class="bg-white dark:bg-dark p-4 rounded-lg shadow-lg max-w-md">
        <h2 class="h4 font-weight-bold mb-3">Registro</h2>

  <div class="container">
    <div class="row">
      
        <div class="col-md-6 offset-md-3">

          <br/><br/>
<form method="POST" action="{% url 'tienda:registro' %}">
  {% csrf_token %}

  {{ form.as_p }}
  <br/><br/>
  <button type="submit" class="btn btn-secondary">
  Register
  </button>

</form>

<br/><br/>
        </div>
      
    </div>
  </div>
  </body>
</html>
