/*CSS CATALOGO*/

body {
  font-family: Arial, sans-serif;
  /* background-color: #f0f0f0; */
  margin: 0;
  padding: 0;
  background-repeat: no-repeat;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.5rem;
  padding: 1rem;
}

@media (min-width: 640px) {
  .grid-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 768px) {
  .grid-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1024px) {
  .grid-container {
    grid-template-columns: repeat(4, 1fr);
  }
}

.btn {
  padding: 0.5rem 1rem;
  border: 2px solid #333;
  background-color: white;
  color: #333;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.btn-outline {
  border-color: #333;
  color: #333;
}

.btn-outline:hover {
  background-color: #333;
  color: white;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  color: #333;
}

p {
  color: #666;
  line-height: 1.6;
}

/* Header styles */
header {
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logo {
  font-size: 24px;
  color: #333;
}

.navbar {
  margin-top: 10px;
}

.navbar ul {
  list-style: none;
}

.navbar ul li {
  display: inline-block;
  margin-right: 20px;
}

.navbar ul li:last-child {
  margin-right: 0;
}

.navbar ul li a {
  color: #333;
  text-decoration: none;
  transition: color 0.3s;
}

.navbar ul li a:hover {
  color: #ff6600;
}

/* Product grid styles */
.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 20px;
}

.product-card {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.3s ease-in-out;
}

.product-card:hover {
  transform: translateY(-5px);
}

.product-card {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  margin-bottom: 20px;
  transition: transform 0.3s ease-in-out;
}

.product-details {
  padding: 20px;
}

.product-title {
  font-size: 18px;
  margin-bottom: 10px;
}

.product-price {
  font-size: 16px;
  color: #333;
  font-weight: bold;
}

.product-description {
  margin-top: 10px;
}

.product-button {
  display: block;
  width: 100%;
  padding: 10px 0;
  background-color: #ff6600;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.product-button:hover {
  background-color: #e55e00;
}
/*----------------------------------------------------------------------------------------------*/
